html,
body,
input,
button,
select {
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 62.5%;
}

input,
button,
select {
  all: unset;
}

header {
  height: 9rem;
  background-color: #5a58e4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

li a {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

main {
  max-width: 121.6rem;
  margin: 5rem auto;
}

.title {
  font-size: 2.5rem;
}

form {
  margin-top: 4rem;
  display: flex;
  padding: 4rem;
  gap: 2.4rem;
  background: #ffffff;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background: #f4f4ff;
  border-radius: 0.5rem;
  padding: 1.2rem 0.8rem 1.2rem 1.4rem;
}

.search-container i {
  color: #5a58e4;
  font-size: 2.4rem;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input,
select {
  color: #111;
  min-width: 29rem;
  font-size: 1.5rem;
}

.btn-search {
  padding: 1.2rem 3.2rem;
  width: 100%;
  background-color: #5a58e4;
  border-radius: 0.6rem;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
}

select,
.select {
  position: relative;
  cursor: pointer;
}

select {
  z-index: 1;
}

.select i.ph-caret-down {
  position: absolute;
  right: 1rem;
  z-index: 0;
}

.event-list {
  margin-top: 2rem;
}

.event-list h2 {
  font-size: 2rem;
}

.card {
  background: #fff;
  border: 0.1rem solid #eaeaea;
  border-radius: 1rem;
  max-width: 38.4rem;
  overflow: hidden;
  display: grid;
  gap: 1.6rem;
  padding: 1.6rem;
  cursor: pointer;
}

.infos {
  color: #111;
}

.infos span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.2rem;
  opacity: 0.75;
}

.infos span i {
  color: #5a58e4;
}

.list {
  margin-top: 4rem;
  display: grid;
  gap: 3.2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
}

.infos {
  display: grid;
  gap: 0.5rem;
}

.infos > p {
  color: #121214;
  font-size: 2rem;
  line-height: 140%;
}

.login {
  position: absolute;
  right: 2rem;
  border: 0.1rem solid #eaeaea;
  padding: 1rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login a {
  font-size: 1.4rem;
  color: #eaeaea;
}

.hidden {
  display: none;
}

.user {
  position: absolute;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.user img {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 100%;
}

.user p {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}
